<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ccut.mapper.GroupMemberMapper">
    <insert id="insertMember"
            parameterType="com.ccut.entity.GroupMember"
            useGeneratedKeys="true"
            keyProperty="id"
            keyColumn="id">
        INSERT INTO group_members
        (group_id, student_id, student_name, student_number, class_name, join_time, role, join_status)
        VALUES
            (#{groupId}, #{studentId}, #{studentName}, #{studentNumber}, #{className}, CURRENT_TIMESTAMP, #{role}, #{joinStatus})
        ON DUPLICATE KEY UPDATE
            student_name = VALUES(student_name),
            student_number = COALESCE(VALUES(student_number), group_members.student_number),
            class_name = VALUES(class_name),
            role = VALUES(role),
            join_status = VALUES(join_status)
    </insert>

    <delete id="deleteMember">
        DELETE FROM group_members
        WHERE student_id = #{studentId}
        AND group_id = #{groupId}
    </delete>
    <select id="selectById" resultType="com.ccut.entity.GroupMember">
        SELECT * FROM group_members
        WHERE student_id = #{studentId}
    </select>

    <select id="selectByGroupId" resultType="com.ccut.entity.GroupMember">
        SELECT * FROM group_members
        WHERE group_id = #{groupId}
        ORDER BY role DESC, join_time DESC
    </select>


</mapper>