<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccut.common.mapper.AdminMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into `admin` (username,password,name,role,token)
        values (#{username},#{password},#{name},#{role},#{token})
    </insert>

    <update id="updateById">
        update `admin`
        <set>
            <if test="username != null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="name != null">name = #{name},</if>
            <if test="role != null">role = #{role},</if>
            <if test="token != null">token = #{token},</if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteById">
        delete  from `admin` where id = #{id}
    </delete>

    <select id="selectAll" resultType="com.ccut.common.entity.Admin">
        select * from `admin`
        <where>
            <if test="username != null and username !=''">username like concat('%',#{username},'%') </if>
            <if test="name != null and name !=''">and name like concat('%',#{name},'%') </if>
            <if test="ids != null and ids != ''">
                and id in
                <foreach collection="idsArr" open="(" close=")" separator="," item="id" >
                    #{id}
                </foreach>
            </if>
        </where>
    </select>


</mapper>
