<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ccut.mapper.StudentSubmissionMapper">
    <insert id="insert">
        INSERT INTO student_submissions
        (assignment_id, group_id, student_id, submission_content,
         submission_files, submitted_at, late_submission,created_at)
        VALUES
        (#{assignmentId}, #{groupId}, #{studentId}, #{submissionContent},
         #{submissionFiles}, #{submittedAt}, CURRENT_TIMESTAMP, #{score},
         #{createdAt})
    </insert>
</mapper>